server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/api/auth/**, /api/users/**
        - id: feed-service
          uri: lb://FEED-SERVICE
          predicates:
            - Path=/api/stories/**, /api/feeds/**, /api/feed/**
        - id: media-service
          uri: lb://MEDIA-SERVICE
          predicates:
            - Path=/api/media/**
        - id: news-service
          uri: lb://NEWS-SERVICE
          predicates:
            - Path=/api/news/**
        - id: social-service
          uri: lb://SOCIAL-SERVICE
          predicates:
            - Path=/api/social/**

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
  info:
    env:
      enabled: true

info:
  app:
    name: ${spring.application.name}
    description: API Gateway
    version: 0.0.1

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: Auth Service
        url: /api/auth/v3/api-docs
      - name: Social Service
        url: /api/social/v3/api-docs
      - name: Feed Service
        url: /api/feed/v3/api-docs
      - name: News Service
        url: /api/news/v3/api-docs
      - name: Media Service
        url: /api/media/v3/api-docs
